html,body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-size: larger;
}

.container{
    width: 960px;
    height: 240px;
    margin: 2rem auto;
    padding: 2rem;
    position: relative;
    background-color: rgb(245, 245, 245);
}


.radius{
    border-radius: 0.5rem;
}

.border{
    border: 1px solid black;
}

.dflex{
    display: flex;
}

.ml{
    margin-left: 42%;
}
.p{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.tcenter{
    text-align: center;
}

.tleft{
    text-align: left;
}

.my{
    margin-top: 7px;
    margin-bottom: 7px;
}

.bbot{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid gray;
    background-color: transparent;
}

.button{
    background-color: cadetblue;
    color: rgb(245, 245, 245);
    border: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.error{
    font-size: smaller;
    color: rgba(255, 0, 0, 0.685);
}

.fontsmall{
    font-size: smaller;
}

.fontxsmall{
    font-size: x-small;
}

.password-strong{
    color: green;
}

.password-medium{
    color: gold;
}

.password-weak{
    color: red;
}

#button-hide-show{
    text-decoration: none;
    border: 1px solid transparent;
    background-color: rgb(124, 124, 124);
    color: white;
}